# Binaries
/bin/

# Air configuration
.air.toml

# IDE specific files
.vscode/
.idea/

# Go workspace file
go.work

# Aider files
.aider*

# Environment variables
.env

# Docker volumes
postgres_/
redis_/
